<Plugin write_graphite>
        <Node "example">
                Host "carbon.hostedgraphite.com"
                Port "2003"
                Prefix "YOUR-LICENCE_HERE.collectd."
        </Node>
</Plugin>
